@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body, #__next {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

main {
  flex: 1;
}

form {
  @apply flex flex-col
}

img {
  @apply max-w-full !important;
}

h1 {
  @apply text-3xl font-semibold my-4;
}

h2 {
  @apply text-xl font-semibold my-4;
}

h3 {
  @apply text-lg font-bold my-4;
}

h4 {
  @apply text-base font-bold my-4;
}

h5 {
  @apply text-sm font-bold my-4;
}

h6 {
  @apply text-sm font-semibold my-4;
}

hr {
  @apply my-4;
}

p {
  @apply max-w-full my-4;
}

a {
  @apply text-blue-500;
}

code {
  @apply my-4;
}

pre {
  @apply bg-gray-200 p-4;
}

ol,
ul {
  @apply ml-4;
}

.input-default {
  @apply w-full p-2 shadow-2xl border border-black;
}

.input-default:focus {
  @apply border-2;
}

.btn-default {
  @apply border-2 border-black px-4 py-2 bg-white text-black;
}

.btn-default:hover {
  @apply bg-black text-white;
}

.adjusted-width {
  @apply w-full;
}

.btn-square {
  @apply m-2 bg-gray-300 h-40 w-40 p-1 text-black text-center flex justify-center items-center rounded-lg text-lg;
}

.btn-square:hover {
  @apply shadow-lg;
}

.image-banner {
  max-height: 180px;
}

@media (min-width: 640px) {

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }
  
  h5 {
    @apply text-sm font-bold;
  }
  
  h6 {
    @apply text-sm font-semibold;
  }

  .adjusted-width {
    @apply w-full;
  }

}

@media (min-width: 768px) {
  
  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }
  
  h5 {
    @apply text-lg font-bold;
  }
  
  h6 {
    @apply text-base font-semibold;
  }

  .adjusted-width {
    @apply w-4/5;
  }

}

@media (min-width: 1024px) {
  
  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-3xl  font-semibold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }
  
  h5 {
    @apply text-lg font-bold;
  }
  
  h6 {
    @apply text-base font-semibold;
  }

  .adjusted-width {
    @apply w-1/2;
  }

}

@media (min-width: 1280px) {
  
  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }
  
  h5 {
    @apply text-lg font-bold;
  }
  
  h6 {
    @apply text-base font-semibold;
  }

  .adjusted-width {
    @apply w-2/5;
  }

}
