@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

body, #__next {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

main {
  flex: 1;
}

form {
  @apply flex flex-col
}

.btn-default {
  @apply border-2 border-black px-4 py-2 bg-white;
}

.btn-default:hover {
  @apply bg-black text-white;
}

.adjusted-width {
  @apply w-full;
}

@media (min-width: 640px) {

  .adjusted-width {
    @apply w-full;
  }

}

@media (min-width: 768px) {
  
  .adjusted-width {
    @apply w-4/5;
  }

}

@media (min-width: 1024px) {
  
  .adjusted-width {
    @apply w-1/2;
  }

}

@media (min-width: 1280px) {
  
  .adjusted-width {
    @apply w-2/5;
  }

}
